* {
  font-family: celtic;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: celtic;
  src: url(./font/celtic.ttf);
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
#botonFinal {
  margin-top: 40px;
  height: 120px;
  width: 300px;
  border-radius: 20px;
  background-color: #99a2b6;
  font-size: 40px;
  box-shadow: 20px 20px 30px -20px black;
}
.button {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #99a2b6;
  margin: 10px;
  font-size: 40px;
  box-shadow: 20px 20px 30px -20px black;
}
.categoria {
  width: 500px;
  height: 70px;
  border-radius: 20px;
  display: block;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px -20px black;
  font-size: 40px;
  background-color: #99a2b6;
}
#container {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  color: #99a2b6;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
#dibujo {
  margin: 150px 0 0 70px;
  width: 380px;
  height: 580px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 20px 20px 30px -20px black;

  opacity: 1;
  transition: "opacity 0.5s linear";
  /* opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: 3s; */
}

/* @keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

#divPalabra {
  margin: 170px 0 0 10px;
}
#fallos {
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
  color: rgb(192, 58, 34);
}
h1 {
  font-size: 200px;
  padding-top: 20px;
  color: white;
}
img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
#letra {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  font-size: 100px;
  text-align: center;
}

#letra:focus {
  outline: 0px;
}
.letras {
  /*formato de cada letra*/
  display: inline-block;
  width: 100px;
  height: 30px;
  border: none;
  border-bottom: 9px solid white;
  margin-right: 20px;
  text-align: center;
  font-size: 100px;
  color: white;
}
#mensajeFinal {
  font-size: 70px;
  color: white;
}
#monedas {
  color: #eac28f;
  font-size: 30px;
}
#page {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px;
}
#pMensajes {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}
#ayuda {
  margin-top: 10px;
  text-align: left;
}
#botonLogin {
  width: 120px;
  height: 70px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #99a2b6;
  box-shadow: 20px 20px 30px -20px black;
  margin-right: 30px;
}
nav{
  float: right;
}
header {
  width: 100%;
  height: 20%;
}
#enlaceRegistro {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}
#liLogin{
margin-bottom: 10px;
}
#formularioLogin{
  font-size: 50px;
}
.inputName, .inputPassword, .inputRepeatPassword{
  border: none;
  height: 40px;
  width: 500px;
  background-color:#99a2b6 ;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}
.botonEntrar{
  margin-top: 40px;
  height: 100px;
  width: 300px;
  font-size: 45px;
  border-radius: 20px;
  background-color: #99a2b6;
  box-shadow: 20px 20px 30px -20px black;
}
#formularioRegistro{
  font-size: 40px;
}



