/*REGLAS ORDENADAS ALFABÉTICAMENTE*/
* {
  font-family: celtic;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: celtic;
  src: url(./font/celtic.ttf);
}
#ayuda {
  margin-top: 10px;
  text-align: left;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  background-color: #99a2b6;
}
.botonEntrar {
  margin-top: 40px;
  height: 100px;
  width: 300px;
  font-size: 45px;
  border-radius: 20px;
  background-color: #99a2b6;
  box-shadow: 20px 20px 30px -20px black;
}
#botonFinal {
  margin-top: 40px;
  height: 120px;
  width: 300px;
  border-radius: 20px;
  background-color: #99a2b6;
  font-size: 40px;
  box-shadow: 20px 20px 30px -20px black;
}
#botonLogin {
  width: 120px;
  height: 70px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #99a2b6;
  box-shadow: 20px 20px 30px -20px black;
}
.button {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  background-color: #99a2b6;
  margin: 10px;
  font-size: 40px;
  box-shadow: 20px 20px 30px -20px black;
}
#container {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  color: #99a2b6;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
#dibujo {
  display: inline-block;
  width: 30%;
  height: 581px;
  margin-right: 20px;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 20px 20px 30px -20px black;
  opacity: 1;
  transition: "opacity 0.5s linear";
  background-color: white;
}
#divPalabra {
  display: inline-block;
  margin: 55px 0 0 0;
  width: 67%;
}
#erroresFormularioRegistro {
  color: rgb(192, 58, 34);
  font-size: 25px;
}
#fallos {
  margin-top: 10px;
  text-align: left;
  font-size: 30px;
  color: rgb(192, 58, 34);
}
#formularioLogin {
  font-size: 50px;
  color: white;
}
#formularioRegistro {
  font-size: 40px;
  color: white;
}
header {
  width: 100%;
  height: 30%;
}
h1 {
  font-size: 200px;
  color: white;
}
.inputName,
.inputPassword,
.inputRepeatPassword {
  border: none;
  height: 40px;
  width: 500px;
  background-color: #99a2b6;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}
img {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}
#letra {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  font-size: 100px;
  text-align: center;
}
.letras {
  /*formato de cada letra*/
  display: inline-block;
  width: 70px;
  height: 30px;
  border: none;
  border-bottom: 9px solid white;
  margin: 36px 20px 0 0;
  text-align: center;
  font-size: 60px;
  color: white;
}
#letra:focus {
  outline: 0px;
}
#monedas {
  color: #eac28f;
  font-size: 30px;
}
#page {
  width: 100%;
  height: 59%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#parte2 {
  text-align: right;
}
#parte3 {
  height: 100%;
  width: 100%;
}
#pMensajes {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}
#textoFinal {
  font-size: 70px;
  color: white;
}

/*ELEMENTOS DEL MENÚ*/
li {
  display: inline;
  padding: 20px;
  background-color: #384a62;
  border-radius: 10px;
  text-align: center;
  box-shadow: 20px 20px 30px -20px black;
  border-top: 2px solid white;
  border-left: 2px solid white;
  line-height: 70px;
  margin-left: 20px;
  cursor: pointer;
}
li a {
  text-decoration: none;
  color: white;
}
#logOut {
  font-size: 15px;
}
nav {
  width: 100%;
  height: 40%;
}
#nombreUsuario {
  font-size: 28px;
  color: rgb(192, 58, 34);
  cursor: default;
}
/*ELEMENTOS DEL MENÚ*/

/*BOTONES CATEGORÍAS*/
#alimentos {
  background-image: url("./img/alimentos.jpg");
}
#animales {
  background-image: url("./img/animales.jpg");
}
#cantantes {
  background-image: url("./img/musica.jpg");
}
#ciudades {
  background-image: url("./img/ciudades.jpg");
}
.categoria {
  width: 500px;
  height: 70px;
  border-radius: 20px;
  display: block;
  margin-bottom: 20px;
  box-shadow: 20px 20px 30px -20px black;
  font-size: 40px;
  display: inline-block;
  color: #99a2b6;
}
#peliculas {
  background-image: url("./img/cine.jpg");
  color: white;
}
.price {
  font-size: 20px;
  color: #eac28f;
}
.price > img {
  height: 30px;
  width: 30px;
}
/*BOTONES CATEGORÍAS*/
